<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="cam0_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="cam1_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <joint name="cam0_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.571 0 -1.571" />
        <parent link="cam0_link" />
        <child link="cam0_link_optical" />
    </joint>

    <link name="cam0_link_optical"></link>

    <gazebo reference="cam0_link">
        <sensor type="camera" name="cam0">
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <camera name="cam0">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>BGR8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
            </camera>
            <plugin name="cam0_controller" filename="libgazebo_ros_camera.so">
                <frame_name>cam0_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>500</max_depth>
            </plugin>
        </sensor>
    </gazebo>

    <joint name="cam1_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.571 0 -1.571" />
        <parent link="cam1_link" />
        <child link="cam1_link_optical" />
    </joint>

    <link name="cam1_link_optical"></link>

    <gazebo reference="cam1_link">
        <sensor type="camera" name="cam1">
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <camera name="cam1">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>BGR8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
            </camera>
            <plugin name="cam1_controller" filename="libgazebo_ros_camera.so">
                <frame_name>cam1_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>500</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>